<%- include("templates/encabezado.ejs") %>
<%- include("templates/menu.ejs") %>
<h1>Modificar Usuario</h1>

<form action="/modificarUsuario" method="post" id="formulario">
    <div>
        <input type="hidden" value=<%= usuario.id %> name="id" id="id">
        <input type="text" value=<%= usuario.usuario %> name="usuario" id="usuario" placeholder="Usuario" autofocus>
        <span id="mensajeUsuario"></span>
    </div>
    <div>
        <input type="text" value=<%= usuario.nombre %> name="nombre" id="nombre" placeholder="Nombre">
        <span id="mensajeNombre"></span>
    </div>
    <div>
        <input type="text" value=<%= usuario.nombre %> name="password" id="password" placeholder="Password">
        <span id="mensajePassword"></span>
    </div>
    <div>
        <button type="submit">Guardar usuario</button>
    </div>
</form>
<%- include("templates/pie.ejs") %>