<%- include("templates/encabezado.ejs") %>
<%- include("templates/menu.ejs") %>
<h1>Mostrar usuarios</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Password</th>
            <th>Editar / Borrar</th>
        </tr>
    </thead>
    <tbody>
        <% usuarios.forEach((usuario)=>{ %>
            <tr>
                <td><%= usuario.id %></td>
                <td><%= usuario.nombre %></td>
                <td><%= usuario.usuario %></td>
                <td><%= usuario.password %></td>
                <td><a href="/modificarUsuario/<%= usuario.id %>">Editar</a> / <a href="/borradoFisicoUsuario/<%= usuario.id %>">Borrado físico</a> / <a href="/borradoLogicoUsuario/<%= usuario.id %>">Borrado lógico</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<%- include("templates/pie.ejs") %>